@font-face {
  font-family: "Finity";
  src: url("../fonts/finity-9325-webfont.eot");
  src: url("../fonts/finity-9325-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/finity-9325-webfont.woff") format("woff"), url("../fonts/finity-9325-webfont.svg#finityregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ultra";
  src: url("../fonts/ultra-webfont.eot");
  src: url("../fonts/ultra-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ultra-webfont.woff") format("woff"), url("../fonts/ultra-webfont.svg#ultraregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anurati";
  src: url("../fonts/anurati-regular-webfont.eot");
  src: url("../fonts/anurati-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/anurati-regular-webfont.woff") format("woff"), url("../fonts/anurati-regular-webfont.svg#anuratiregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 1.9vh;
}

@media (min-width: 700px) {
  .images {
    display: flex;
  }
  .images .image {
    width: 30vw;
  }

  .image:before {
    content: attr(data-content);
    line-height: 2400%;
  }
}
@media (max-width: 600px) {
  .images {
    display: block;
  }
  .images .image {
    width: 60vw;
  }
  .images #beachmusic {
    margin-left: 15.1vw;
  }

  .image:before {
    content: attr(data-content);
    line-height: 1750%;
  }
}
html, body {
  padding: 0;
  margin: 0;
  align-content: center;
  display: block;
  justify-content: center;
}

body {
  background-color: #312F2F;
  height: 100%;
  align-content: center;
}

.wrapper {
  min-height: 93vh;
  position: relative;
  padding-bottom: 2vh;
  margin-top: 1.5vh;
  background-color: #BCCCE0;
  align-self: center;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1.5vh;
  margin-right: 1.5vh;
  margin-bottom: 1.3vh;
  align-content: center;
  align-self: center;
}
.wrapper .content {
  padding-bottom: 2.5rem;
}
.wrapper .content .spacer {
  height: 8vh;
}
.wrapper .content .title {
  margin-left: 0vw;
  margin-right: 0;
  margin-bottom: 5vh;
  display: block;
}
.wrapper .content .title .homelink {
  margin-right: 0vw;
  margin-left: 14vw;
  padding-left: 1vw;
  padding-bottom: 1vh;
  display: inline;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  width: 62vw;
  display: block;
}
.wrapper .content .title .homelink:hover {
  transform: scale(1.05);
}
.wrapper .content .title .homelink:hover h1, .wrapper .content .title .homelink:hover h2 {
  color: #0F8B8D;
  transition: all 250ms ease-in-out;
}
.wrapper .content .title .homelink:hover canvas {
  background-color: #0F8B8D;
  transition: all 250ms ease-in-out;
}
.wrapper .content .title h1 {
  margin-bottom: 10vh;
  margin-top: 0;
  margin-left: -0.1vW;
  padding-top: 2vh;
  padding-bottom: 1vh;
  display: inline;
  align-content: left;
  font-size: 7vh;
  color: #312F2F;
  font-family: "Anurati", sans-serif;
  font-weight: 500;
  font-variant: small-caps;
  word-spacing: 1vw;
  letter-spacing: 1vw;
  width: 75vw;
}
.wrapper .content .title canvas {
  margin-top: 2vh;
  margin-bottom: 0vh;
  margin-right: 14.9vw;
  margin-left: 0.1vw;
  width: 15em;
  height: 0.25em;
  background-color: #007991;
}
.wrapper .content .title h2 {
  margin-top: 0vh;
  margin-bottom: 0;
  display: block;
  font-size: 4vh;
  color: #995D81;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-stretch: ultra-expanded;
  word-spacing: 0.1em;
  width: 60vw;
  align-items: left;
}
.wrapper .content .hometext {
  margin-top: 2.6;
  margin-bottom: 0vh;
  margin-left: 15.15vw;
  width: 70vw;
  color: #312F2F;
  font-family: "Muli";
  font-size: 1.05em;
  line-height: 1.2;
  font-weight: 500;
}
.wrapper .content #ct {
  width: 30vw;
}
.wrapper .content .images {
  margin-bottom: 6vh;
  bottom: 0;
  width: 100%;
}
.wrapper .content .images a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.wrapper .content .images .image {
  margin-top: 5vh;
  position: relative;
  transition: transform 250ms ease;
}
.wrapper .content .images .image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  vertical-align: top;
}
.wrapper .content .images .image img:hover {
  transform: scale(1.05);
}
.wrapper .content .images .image .imagelink {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.wrapper .content .images .image:after, .wrapper .content .images .image:before {
  position: absolute;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}
.wrapper .content .images .image:after {
  content: "\a";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.wrapper .content .images .image:before {
  content: attr(data-content);
  display: inline;
  overflow-wrap: normal;
  font-family: "Ubuntu", sans-serif;
  font-size: 110%;
  font-weight: 400;
  width: 100%;
  color: #BCCCE0;
  z-index: 1;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
.wrapper .content .images .image:hover:after, .wrapper .content .images .image:hover:before {
  opacity: 1;
}
.wrapper .content .images .image {
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
}
.wrapper .content .images .image img {
  height: 100%;
  width: 100%;
}
.wrapper .content .images .image p {
  text-align: center;
  vertical-align: center;
}
.wrapper .content .images #houseofsugar {
  margin-left: 15.1vw;
}
.wrapper .content #bpoints {
  color: #995D81;
  font-size: 1.3em;
  margin-bottom: 10vh;
}
.wrapper .content .citelink {
  text-decoration: none;
  transition: all 250ms ease-in-out;
  width: 30vw;
}
.wrapper .content .citelink p {
  color: #007991;
  font-weight: bold;
  margin-top: 5vh;
}
.wrapper .content .citelink p:hover {
  color: #0F8B8D;
  text-decoration: underline;
}

#footer {
  margin-top: 0.2vh;
  margin-bottom: 0.8vh;
  padding-top: 0.4vh;
  padding-bottom: 0.8vh;
  margin-left: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #995D81;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 0.75em;
}

.footer {
  display: flex;
  justify-content: center;
}

#platcontent h3 {
  font-size: 1.25em;
  font-family: "Jost", sans-serif;
  color: #312F2F;
}

.platforms {
  margin-left: 15.15vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.list {
  margin-top: 5vh;
  margin-bottom: 0vh;
  padding-left: 15.15vw;
  width: 80vw;
  color: #312F2F;
  font-family: "Muli";
  line-height: 1.75;
  font-weight: normal;
}

#citations {
  font-size: 1.1em;
}
#citations ul li {
  color: #007991;
  margin-bottom: 1em;
}
#citations ul li:hover {
  color: #0F8B8D;
}
#citations ul li a {
  text-decoration: none;
  color: #007991;
}
#citations ul li a:hover {
  color: #0F8B8D;
  text-decoration: underline;
}

h1 {
  font-size: 10vh;
  color: #007991;
  margin-left: 1vw;
}

::-webkit-scrollbar {
  width: 10px;
  transition: all 250ms ease-in-out;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007991;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0F8B8D;
}

::selection {
  background: #0F8B8D;
  color: #BCCCE0;
}

/*# sourceMappingURL=main.css.map */
