.citations {
  margin-top: 5vh;
  margin-bottom: 0vh;
  padding-left: 15.15vw;
  width: 80vw;
  color: $white;
  font-family: 'Muli';
  font-size: 1.1em;
  line-height: 1.75;
  font-weight: bold;
  ul {

    li {
      color: $blue;
      &:hover {
        color: $green;
      }
      margin-bottom: 1em;
      a {
        text-decoration: none;
        color: $blue;
        &:hover {
          color: $green;
          text-decoration: underline;
        }
      }
    }
  }
}
