
@import "home";
@import "platforms";
@import "citations";


::-webkit-scrollbar {
  width: 10px;
  transition: all 250ms ease-in-out;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $green;
}

::selection {
  background: $green;
  color: $background;
}
